body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

section {
    background: #fff;
    margin: 15px;
    padding: 20px;
    border-radius: 6px;
}

.project {
    background: #eee;
    margin: 10px 0;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background: #222;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}



